// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

@font-face {
    font-family: "HK Nova Medium";
    src: url('../../resources/fonts/HKNova-Medium.ttf');
}

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


$orange: #e17c0b;
$green: #57AC46;
$red: #e73b1c;

body {
    background-color: #1f1f1f !important;
    color: white !important;
    //background-image: url("../../resources/img/bg-marada.png");
    //background-size: cover;

    p, h4, h5, h6, a, td, tr, li, th {
        color: white !important;

        font-family: "HK Nova Medium", sans-serif !important;
        font-weight: 400 !important;
    }

    h1, h2, h3 {
        color: $green;

        font-family: "HK Nova Medium", sans-serif !important;
    }
}

//Buttons
.btn {
    border-radius: 0 !important;
    padding: 13px 37px 13px 41px !important;

    color: white;
    font-size: 0.75em !important;
    text-transform: uppercase;
    letter-spacing: 0.25em;

    @media (max-width: 420px){
        padding: 10px !important;
    }
}

.btn-success {
    color: white;
    border: 1px solid $green;
    background-color: transparent !important;

    &:hover {
        background-color: $green !important;
        transition: 0.2s ease-in-out;
    }
}

.btn-warning {
    color: white;
    border: 1px solid $yellow;
    background-color: transparent !important;

    &:hover {
        background-color: $yellow !important;
        color: black !important;
        transition: 0.2s ease-in-out;
    }
}

.btn-danger {
    color: white;
    border: 1px solid $red;
    background-color: transparent !important;

    &:hover {
        background-color: $red !important;
        transition: 0.2s ease-in-out;
    }
}


//Card
.card {
    background-color: transparentize(black, 0.3) !important;
    //border: 1px solid white;
    border: none !important;
    border-radius: 0 !important;
}

.card-header {
    //background-color: transparent !important;
    background-color: transparentize(black, 0.3);
    color: $green !important;

    border: none !important;

    text-transform: uppercase;
    letter-spacing: 0.125rem;

}

//Navbar
.navbar {
    margin-bottom: 2rem !important;
    background-color: transparentize(black, 0.3);
}

//Footer
.footer {
    font-size: 0.75rem;
}

//Collapsible responsive sidebar
#wrapper {
    overflow-x: hidden;
}

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
    background-color: transparentize(black, 0.3);
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
    color: $green;
    //box-shadow: 0 0 10px black;
    //text-transform: uppercase;
}

#sidebar-wrapper .list-group {
    width: 15rem;
}

#page-content-wrapper {
    min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }

    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }
}

.list-group-item {
    color: #1d2124;
    font-size: 1rem !important;
    text-decoration: none !important;
    font-weight: 300;
    background-color: transparent !important;
    border: none !important;

    &:hover {
        color: $green !important;
    }
}
