<template>
    <div class="card" style="margin-top: 100px">
        <div class="card-header">
            <b @click="showCart()">Váš košík</b>
            <b @click="showHistory()" class="float-right">Historie objednávek</b>
        </div>
        <form v-if="cart === true" @submit.prevent="submitOrder()">

            <div class="card-body pt-0">
                <table class="table table-responsive-md">
                    <thead>
                    <tr>
                        <th>Produkt</th>
                        <th></th>
                        <th>Cena za kus</th>
                        <th class="w-25">Množství</th>
                        <th>Cena celkem</th>
                        <th ></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="item in items">
                        <td>
                            <img v-img width="80px" v-if="item.photo_path" :src="item.photo_path">

                        </td>
                        <td>{{ item.name }}</td>
                        <td> {{ item.price }}</td>
                        <td><input type="number" min="0" step="1" v-model="amount[item.id]"></td>
                        <td>{{ item.price * amount[item.id] }}</td>
                        <td></td>
                        <td></td>
                    </tr>

                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><b>Cena celkem:</b></td>
                        <td>{{ price }}</td>
                        <td></td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="mb-3">
                <div class="input-group m-auto w-75 " v-if="dates.length!==0">
                    <div class="input-group-prepend">
                        <label class="input-group-text">Opakovat</label>
                    </div>

                    <input v-model="times" type="number" class="form-control" placeholder="Počet týdnů">
                    <div class="input-group-append">
                        <label class="input-group-text">Následujících týdnů</label>
                    </div>
                </div>
            </div>


            <div class="mb-3">
                <div class="input-group m-auto w-75 " v-if="dates.length!==0">
                    <div class="input-group-prepend">
                        <label class="input-group-text">Vyberte datum</label>
                    </div>
                    <select class="custom-select h-auto" v-model="date" required>
                        <option v-for="dat in dates" :value=dat>{{ dat }}</option>
                    </select>
                    <div class="input-group-append">
                        <button class="btn btn-outline-success" type="submit"> Objednat</button>
                    </div>
                </div>
                <div v-else>
                    <label>Bohužel nejsou na výběr žádné dny dovozu</label>

                </div>
            </div>


        </form>
        <div v-else>
            <table class="table table-responsive-md">
                <thead>
                <tr>
                    <th>Datum</th>
                    <th></th>
                    <th>Položky</th>
                    <th></th>
                    <th>Cena celkem</th>
                    <th></th>

                </tr>
                </thead>
                <tbody>
                <tr v-for="order in orders">

                    <td>{{ order.date }}</td>
                    <td></td>
                    <td>
                        <template v-for="item in order.items">
                            {{ item.pivot.amount }} x {{ item.name }} <br>
                        </template>
                    </td>
                    <td></td>
                    <td>
                        {{ order.price }}
                    </td>
                    <td></td>

                </tr>

                </tbody>
            </table>


        </div>


    </div>


</template>

<script>
import Datepicker from 'vuejs-datepicker';
import {cs} from 'vuejs-datepicker/dist/locale'
import VueImg from 'v-img';
import Vue from 'vue';
import VueToastify from "vue-toastify";


Vue.use(VueToastify);


export default {
    props: ['items', 'dates', 'orders'], components: {Datepicker}, name: "Customer", data: () => {
        return {
            amount: [], date: null, cz: cs, highlighted: {
                to: new Date(2016, 0, 5), // Highlight all dates up to specific date
                from: new Date(2016, 0, 26), // Highlight all dates after specific date
                days: [6, 0], // Highlight Saturday's and Sunday's
                daysOfMonth: [15, 20, 31], // Highlight 15th, 20th and 31st of each month
                dates: [ // Highlight an array of dates
                    new Date(2016, 9, 16), new Date(2016, 9, 17), new Date(2016, 9, 18)],


            }, cart: true, history: false, times: null,
        }
    }, mounted() {
        this.loadAmounts();
    }, methods: {
        showCart() {
            this.cart = true;
            this.history = false;
        }, showHistory() {
            this.cart = false;
            this.history = true;
        },


        loadAmounts() {
            var i;
            for (i = 0; i <= this.items[this.items.length - 1].id; i++) {

                Vue.set(this.amount, i, 0);
            }
        }, submitOrder() {
            axios.post("/orders/store/", {
                amount: this.amount, date: this.date, times: this.times,
            }).then((response) => {
                // console.log(response);
                this.loadAmounts();

                this.$vToastify.info(response.data);
            }).catch(function (error) {
                console.log(error);
            })
        }
    }, computed: {
        price() {
            let price = 0;

            for (let key in this.items) {
                price = price + this.amount[this.items[key].id] * this.items[key].price;
            }

            if (this.times !== null && this.times !== '') {
                price = (1 + parseInt(this.times)) * price;
            }
            return price;
        }
    }
}
</script>

<style scoped>
table thead th {
    border: none !important;
}
</style>
